{% raw %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <meta name=viewport content="width=device-width, initial-scale=1">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GZ7BV93KNM"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-GZ7BV93KNM');
    </script>


    <!-- https://codemyui.com/text-flip-on-hover/ -->
    <script>
      (function($){
        $.fn.flip = function(options){
        var options = $.extend({
          targetClass: '.m-flip_item'
        }, options);
    
            return this.each(function(){
              console.log(this);
          var $this = $(this),
            $target = $this.find(options.targetClass);
    
          $this
            .on({
              'init.flip': function(){
                var targetFirst_height = $target.eq(0).height();
    
                $this
                  .data('height', targetFirst_height)
                  .css({ height: targetFirst_height });
              },
              'mouseenter.flip': function(){
                $target.css({ top: -$this.data('height')  + 'px' });
              },
              'mouseleave.flip': function(){
                $target.css({ top: 0 + 'px' });
              }
            })
            .trigger('init.flip');
        });
        };
    }(jQuery));
    
    $(function(){
      $('.js-flip').flip();
    });

    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content:"Yonatan Bisk">
    <link rel="canonical" href="https://talkingtorobots.com">
    <title>CLAW Lab</title>
    <meta name="title" content="CLAW Lab">
    <meta name="description" content="Connecting Language to Actions and the World Lab - at CMU">

    <!-- Open Graph -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://talkingtorobots.com/CLAW">
    <meta property="og:title" content:"CLAW Lab">
    <meta property="og:image" content="https://yonatanbisk.com/images/CLAW-stacked-full.png">
    <meta property="og:description" content="Connecting Language to Actions and the World Lab - at CMU">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://talkingtorobots.com/CLAW">
    <meta property="twitter:title" content:"CLAW Lab">
    <meta property="twitter:image" content="https://yonatanbisk.com/images/CLAW-stacked-full.png">
    <meta property="twitter:description" content="Connecting Language to Actions and the World Lab - at CMU">

    <link rel="stylesheet" href="../main.css">
    <link rel="icon" type="image/png" href="https://talkingtorobots.com/images/cmu-icon.png">
  </head>
  <body>
  <nav class="navbar navbar-expand-md">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbars" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbars">
          <div class="navbar-nav nav-fill w-100">
            <a class="nav-item nav-link" href="../publications.html">Publications</a>
            <a class="nav-item nav-link active" href="#">Group
                  <span class="visually-hidden">(current)</span></a>
            <a class="nav-item nav-link" href="../index.html">
              <img alt="image of a robot claw" height=40pt 
                  src="../images/CLAW.svg" 
                  onmouseover="this.src='../images/CLAW-animated.svg';"
                  onmouseout="this.src='../images/CLAW.svg';"
                  style="padding: 2px;filter: invert(1);"></a>
            <a class="nav-item nav-link" href="../teaching.html">Teaching</a>
            <a class="nav-item nav-link" href="../resources.html">Resources</a>
          </div>
        </div>
      </div>
    </nav>

    <div class="wrapper" style="background-image: url(images/CLAW_Spring2024.jpg);background-size: 880px 230px;">
      <div class="content">
        <center><h3><b>C</b>onnecting <b>L</b>anguage to <b>A</b>ctions & the <b>W</b>orld @ CMU</h3></center>
      </div>
    </div>

    <br>
    <div class="table">
    <div class="row">
      <div class="col-sm-1">
      </div>
      <div class="col-sm-6">
        <br>The lab is run by <a href="https://yonatanbisk.com">Yonatan Bisk</a> and is housed primarily in the <a href="https://lti.cs.cmu.edu/">Language Technologies Institute (LTI),</a> with members from the <a href="https://www.ml.cmu.edu/">Machine Learning Department (MLD),</a> <a href="https://www.ri.cmu.edu/">Robotics Institute(RI),</a> and <a href="https://csd.cmu.edu/">Computer Science Department (CSD).</a> 

          <br><br>
          What're we up to? <br>
          <ol>
            <li><a href="publications.html">Publications obviously</a></li>
            <li> Group Meeting Readings: 
              <ul>
                <li><a href="https://mitpress.mit.edu/9780262047005/the-evolution-of-agency/">The Evolution of Agency – Michael Tomasello</a></li>
                <li><a href="https://bookshop.org/p/books/mind-in-motion-how-action-shapes-thought-barbara-tversky/11138346">Mind in Motion: How Action Shapes Thought – Barbara Tversky</a></li>
              </ul>
            </li>
            <li>
            🌶️ takes made up by Yonatan about everyone.<br>
            </li>
          </ol>
      </div>
      <div class="col-sm-4">
        <div class="row" style="justify-content: center;">
          <a href="https://yonatanbisk.com"><img src="images/YonatanBisk_400.jpg" alt="Yonatan Bisk (white male wearing a black t-shirt in front of a window)" style="width:200px;height:200px;display:inline;float:right;margin-top:5px;margin-right:10px;margin-bottom:5px;margin-left:10px;border-radius:20%;"></a>
        </div>
      </div> <!-- col-->
    </div> <!-- row -->

    <h3>PhD Students</h3>
    <div class="container" id="students">
      <div class="row row-cols-auto g-0">
        {% endraw %}
        {% for entry in students %}
            <div class="col card student" style="max-width: 270px; min-width:100px;">
              <a href="{{ entry['URL'] }}">
                <img src=images/students/{{ entry['PIC'] }} class="card-img-top" alt="{{ entry['NAME'] }}">
              </a>
              <div class="card-body">
                <h5 class="card-title">
                  <p class="m-flip js-flip" style="font-weight:200; font-size: 20px;">
                    <span class="m-flip_item"><a href="{{ entry['URL'] }}"><b>{{ entry['NAME'] }}</b></a></span>
                    <span class="m-flip_item"><a href="{{ entry['URL'] }}"><b>{% if 'NATIVE' in entry %} {{- entry['NATIVE'] -}} {% else %} {{- entry['NAME'] -}} {% endif %} </b></a></span>
                  </p>
                  <h6>🌶️ <i><b>{{entry['SPICY']}}</b></i></h6>
                  <h6><a href="https://twitter.com/{{ entry['X'] }}">@{{ entry['X'] }}</a>
                      <font class="pronoun">{{ entry['PRON'] }}</font></h6>
                </h5>
                <p class="card-text">
                    <img src="images/{{ entry['DEPT'] }}.png" height=35px class="left-float-img" alt="{{ entry['DEPT'] }} logo">
                    <img width=45 src="images/WSs/WS{{ entry['WS'] }}_small.webp" class="right-float-img" alt="small robot">
                    <h6><div class='coadvisor'>
                    {% if 'CO' in entry %}
                      (co- <a href="{{- entry['CO-URL'] -}}"> {{- entry['CO'] -}}</a>)
                    {% endif %}
                    </div></h6>
                </p>
                <hr>
                <h6>
                  {% if entry['RESEARCH']|length > 0 %}
                    <button class="collapsible">Research</button>
                    <div class="content">
                      <p style='margin-top:1rem;margin-bottom:0;'>
                        {% for paper in entry['RESEARCH'] %}
                          <a href="{{ paper['URL'] }}">{{ paper['TITLE'] }}</a><br><br>
                        {% endfor %}
                      </p>
                    </div>
                  {% endif %}
                </h6>
              </div> <!-- card-body -->
            </div> 
        {% endfor %}
        {% raw %}
      </div>
    </div>
    <br><br>
    <h3>Masters, Independent Studies, and Visitors</h3>

    <br>
    <center>
      <div class="card-group">
        {% endraw %}
        {% for entry in masters %}
          <div class="card student" style="max-width: 200px;">
            <a href="{{ entry['URL'] }}">
              <img src=images/students/{{ entry['PHOTO'] }} class="card-img-top" alt="{{ entry['NAME'] }}">
            </a>
            <div class="card-body">
              <h6 class="card-title">
                <p class="m-flip js-flip" style="font-weight:400; font-size: 14px;">
                  <span class="m-flip_item"><a href="{{ entry['URL'] }}"><b>{{ entry['NAME'] }}</b></a></span>
                  <span class="m-flip_item"><a href="{{ entry['URL'] }}"><b>{% if 'NATIVE' in entry %} {{- entry['NATIVE'] -}} {% else %} {{ entry['NAME'] }} {% endif %}</b></a></span>
                </p>
                <h6><font class="pronoun">{{ entry['PRON'] }}</font>
                    <br>{{ entry['CAPT'] }}</h6> 
                </h6>
            </div>
          </div>
        {% endfor %}
        {% raw %}
      </div> <!-- card-group -->
    </center>

      <br><br>
      <h3>Cats</h3>
        <center>
          <div class="card-group">
              <div class="card student" style="max-width: 200px;">
                <img src=images/students/star.jpg class="card-img-top" alt="Black cat">
                <div class="card-body">
                      <span class="m-flip_item"><b>Star 🌟</b></a></span>
                    <h6><font class="pronoun">she/her</font>
                    </h6>
                </div>
              </div>
              <div class="card student" style="max-width: 200px;">
                <img src=images/students/comet.jpg class="card-img-top" alt="Black and white cat">
                <div class="card-body">
                      <span class="m-flip_item"><b>Comet 💫</b></a></span>
                    <h6><font class="pronoun">he/him</font>
                    </h6>
                </div>
              </div>
          </div> <!-- card-group -->
        </center>

      <br><br>
      <h3>Alumni, Undergraduates, and Visitors</h3>

      <center>

        <table class="table table-borderless">
          <tbody>
            {% endraw %}
            {% for entry in alumni %}
                <tr>
                  <td scope="row">{{ entry['YEAR'] }}</td>
                  <td>
                      <a href="{{ entry['URL'] }}">{{ entry['NAME'] }}</a>
                      {% if entry['ROLE'] == 'PhD' %}
                      <img width=100pt src=images/students/alumni/{{ entry['PIC'] }} alt="{{ entry['NAME'] }}">
                      {% endif %}
                  </td>
                  <td>{{ entry['ROLE'] }}</td>
                  <td>→ {{ entry['POS'] }}</td>
                  <td><img width=30 src="images/WSs/WS{{ entry['WS'] }}_small.webp" class="float-right-image" alt="small robot"></td>
                </tr>
            {% endfor %}
            {% raw %}
          </tbody>
        </table>
      </center>

  </body>
      <script>
        <!-- https://www.w3schools.com/howto/howto_js_collapsible.asp -->
        var coll = document.getElementsByClassName("collapsible");
        var i;
        
        for (i = 0; i < coll.length; i++) {
          coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
              content.style.display = "none";
            } else {
              content.style.display = "block";
            }
          });
        }
        </script>
        <script>
          document.addEventListener('DOMContentLoaded', (event) => {
            const container = document.querySelector('#students .row');
            let columns = Array.from(container.children);
            
            for (let i = columns.length - 1; i > 0; i--) {
              const j = Math.floor(Math.random() * (i + 1));
              [columns[i], columns[j]] = [columns[j], columns[i]]; // Swap elements
            }
            
            // Append columns back in their new order
            columns.forEach(column => container.appendChild(column));
          });
          </script>

</html>
{% endraw %}
