{% raw %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <meta name=viewport content="width=device-width, initial-scale=1">
        

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-GZ7BV93KNM"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'G-GZ7BV93KNM');
        </script>

        <script>
            function copyDivToClipboard(idx) {
                var range = document.createRange();
                range.selectNode(document.getElementById(idx));
                window.getSelection().removeAllRanges(); // clear current selection
                window.getSelection().addRange(range); // to select text
                document.execCommand("copy");
                $('[id="button' + idx + '"]').attr('data-original-title', "Copied!").tooltip('show')
                window.getSelection().removeAllRanges();// to deselect
            }

        </script>

        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script>
          google.charts.load('current', {packages: ['corechart']});
          google.charts.setOnLoadCallback(drawChart);

          function drawChart() {

          var data = google.visualization.arrayToDataTable([
              ['Category', 'Text', { role: 'annotation' }, 'Perception', { role: 'annotation' }, 'Action', { role: 'annotation' }, 'Social', { role: 'annotation' }, 'Other', { role: 'annotation' }],
              {% endraw %}
              ['',      {{ data['WS1'] + data['WS2'] }}, Math.round({{ data['WS1'] + data['WS2'] }}).toString(), 
                         {{ data['WS3'] }},  Math.round({{ data['WS3'] }}).toString(), 
                         {{ data['WS4'] }}, Math.round({{ data['WS4'] }}).toString(), 
                         {{ data['WS5'] }}, Math.round({{ data['WS5'] }}).toString(), 
                         {{ data['O'] }},  Math.round({{ data['O'] }}).toString()]
              {% raw %}
          ]);

          var options = {
              title: '',
              chartArea: {width: '500px', height:'30%'},
              legend: { position: "none" },
              bar: {groupWidth: '100%', groupHeight: '50%'},
              height: 100,
              legend: { position: 'top', maxLines: 1 },
              colors: ['#007EF6', '#53A351', '#CB444A', '#f6c144', '#49A0B5'],
              isStacked: true,
              hAxis: {
                    title: 'World Scope Paper Counts (made up by Yonatan)',
                    textPosition: 'none' // This will hide the x-axis labels
              },
            };

            var chart = new google.visualization.BarChart(document.getElementById('chart_div'));

            var dictionary = {
                "Text": function() {area('WS1,WS2','WS3,WS4,WS5,O')},
                "Perception": function() {area('WS3','WS1,WS2,WS4,WS5,O')},
                "Action": function() {area('WS4','WS1,WS2,WS3,WS5,O')},
                "Social": function() {area('WS5','WS1,WS2,WS3,WS4,O')},
                "Other": function() {area('O','WS1,WS2,WS3,WS4,WS5')}
            };
            google.visualization.events.addListener(chart, 'select', function() {
                var selectedItem = chart.getSelection()[0];
                if (selectedItem) {
                    var series = data.getColumnLabel(selectedItem.column);
                    dictionary[series]();
                }
            });
            chart.draw(data, options);
          }
        </script>

        <script>
        <!-- https://www.w3schools.com/howto/howto_js_filter_table.asp -->
        function mySearch() {
          // Declare variables
          var filter, tr, td, i, txtValue;
          filter = document.getElementById("myInput").value.toUpperCase();
          tr = document.getElementsByClassName("card");

          if (filter.length == 0) {
            for (i = 0; i < tr.length; i++) {
              tr[i].removeAttribute("hidden");
            }
          } else {
            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
              td = tr[i].getElementsByClassName("card-text")[0];
              if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1 && filter.length != 0) {
                  tr[i].removeAttribute("hidden");
                } else {
                  tr[i].hidden = true;
                }
              }
            }
          }
        }
        </script>

        </script>
        <script language="javascript">
            function show( elem ) {
                $('#'+elem).toggle();
                copyDivToClipboard(elem);
            }
        </script>

        <script>
          function area(ON, OFF){
              var ON = ON.split(',')
              var OFF = OFF.split(',')
              var turn_on = [];
              var turn_off = [];
              for (var idx = 0; idx < ON.length; idx++) {
                turn_on = turn_on.concat(Array.from(document.getElementsByClassName(ON[idx])))
              }
              for (var idx = 0; idx < OFF.length; idx++) {
                turn_off = turn_off.concat(Array.from(document.getElementsByClassName(OFF[idx])))
              }

              for (var i = 0; i < turn_on.length; i++){
                    turn_on[i].removeAttribute("hidden");
              }
              for (var i = 0; i < turn_off.length; i++){
                  if (!turn_on.includes(turn_off[i])) {
                    turn_off[i].hidden = true;
                  }
              }
          }
        </script>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="author" content:"Yonatan Bisk">
        <link rel="canonical" href="https://talkingtorobots.com">
        <title>CLAW Publications</title>
        <meta name="title" content="CLAW Publications">
        <meta name="description" content="Research papers from CLAW Lab at CMU -- RoboNLP, NLProc, Grounded Language, Unsupervised Methods, and more">

        <!-- Open Graph -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://talkingtorobots.com/publications.html">
        <meta property="og:title" content:"CLAW Publications">
        <meta property="og:image" content="https://yonatanbisk.com/images/CLAW-stacked-full.png">
        <meta property="og:description" content="Research papers from CLAW Lab at CMU -- RoboNLP, NLProc, Grounded Language, Unsupervised Methods, and more">

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="https://talkingtorobots.com/publications.html">
        <meta property="twitter:title" content:"CLAW Publications">
        <meta property="twitter:image" content="https://yonatanbisk.com/images/CLAW-stacked-full.png">
        <meta property="twitter:description" content="Research papers from CLAW Lab at CMU -- RoboNLP, NLProc, Grounded Language, Unsupervised Methods, and more">

        <link rel="stylesheet" href="main.css">
        <link rel="icon" type="image/png" href="https://talkingtorobots.com/images/cmu-icon.png">
    </head>
    <body>

    <nav class="navbar navbar-expand-md">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbars" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbars">
          <div class="navbar-nav nav-fill w-100">
            <a class="nav-item nav-link active" href="#">Publications
                  <span class="visually-hidden">(current)</span></a>
            <a class="nav-item nav-link" href="CLAW/">Group</a>
            <a class="nav-item nav-link" href="index.html">
              <img alt="image of a robot claw" height=40pt 
                  src="images/CLAW.svg" 
                  onmouseover="this.src='images/CLAW-animated.svg';"
                  onmouseout="this.src='images/CLAW.svg';"
                  style="padding: 2px;filter: invert(1);"></a>
            <a class="nav-item nav-link" href="teaching.html">Teaching</a>
            <a class="nav-item nav-link" href="resources.html">Resources</a>
          </div>
        </div>
      </div>
    </nav>

    <div class="wrapper" >
      <div class="content">
        <center><h3><b>C</b>onnecting <b>L</b>anguage to <b>A</b>ctions & the <b>W</b>orld @ CMU</h3></center>
      </div>
    </div>
      <br>
      <center>Just a big 'ol list.  You can use the buttons to filter or text box to search.<br><br>
      <div class="container">
          <div class="row">
            <div class="col-md-3">
              <h6><b><a href="https://arxiv.org/abs/2004.10151">EGL</a>: You can't learn language ...</b></h6>
            </div>
            <div class="col-md-3">
                <h6> <b>... from the radio</b><br>
                  &nbsp;&nbsp;&nbsp;&nbsp;Text → Perception</h6>
            </div>
            <div class="col-md-3">
                <h6> <b>... by watching TV</b><br>
                  &nbsp;&nbsp;&nbsp;&nbsp;Perception → Action</h6>
            </div>
            <div class="col-md-3">
                <h6> <b>... by yourself</b><br>
                  &nbsp;&nbsp;&nbsp;&nbsp;Action → Social</h6>
            </div>
          </div> <!-- row -->
      </div>
      <div class="row">
        <div class="col-md-2">
          <br><br> Click a category 
        </div>
        <div class="col-md-6" id="chart_div"></div>
        <div class="col-md-4">
        <br>
          <label for="myInput" class="sr-only">
                   or search publications
                </label> 
                <input type="text" id="myInput" onkeyup="mySearch()" 
                       placeholder="Search ..." 
                       title="Filter publications" 
                       alt="search box for filtering publications">
      </div>
      </center>
    <br>

      <h3>Publications</h3>
        {% endraw %}
        {% for entry in publications %}
        <div class="card {{ entry['FIELD'] }}">
          <div class="card-body">
            <div class="row">
              <div class="col-md-1" style="text-align: center;">
                <button type="button" disabled 
                        class="btn ybtn btn-outline-{{ colors[entry['FIELD']] }}" style="font-size:12pt">{{ entry['VENUE-ACR'] }}</button>
                  {% if 'STUDENT' in entry %}
                      <br>
                      <img class="align-self-center" 
                               src="CLAW/images/students/{{- entry['STUDENT']|replace(' ','')|lower -}}.webp" \
                               height=44pt width=44pt alt="{{- entry['STUDENT'] -}}">
                  {% endif %}
              </div>
              <div class="col-md-11">
                <b style="font-weight: 550; font-size:13pt" onclick="toggleEllipsis({{- loop.revindex -}});">
                    {{ entry['TITLE'] }}
                </b><br>
                <div class="card-text">
                  <i style="font-weight: 300; font-size:10pt" onclick="toggleEllipsis({{- loop.revindex -}});">
                    {{ entry['VENUE'] }} ({{ entry['YEAR'] }})
                  </i><br>
                  <font id="ellipsis-ex{{- loop.revindex -}}" class="d-inline-block text-truncate" style="font-weight: 300; font-size:10pt; max-width:100%;" onclick="toggleEllipsis({{- loop.revindex -}});">
                    {{ entry['AUTHORS-PRETTY'] }}
                  </font>
                      <br>
                  {% if 'URL' in entry and entry['URL']|length > 0 %}
                    {% if 'arxiv' in entry['URL'] %}
                      <a href={{- entry['URL']}} style="display:inline-block;width:50px"><img src="images/arxiv.svg" style="display:inline;" height=18pt></a>
                    {% else %}
                      <a href={{- entry['URL']}} style="display:inline-block;width:50px;"><img src="images/pdf.svg" style="display:inline;" height=16pt class="filter-blue"><font style="font-size:11pt">PDF</font> </a>
                    {% endif %}
                  {% endif %}
                  <a  title style="display:inline-block;width:50px;"
                      data-original-title="Copy BibTex" id="buttonidx{{- loop.revindex -}}"
                      href="javascript:void(0)" onclick="show('idx{{- loop.revindex -}}')">
                      <img src="images/tex.svg" width=30pt style="display:inline;" class="filter-blue">
                    </a>
                    {% if 'EXTRAS' in entry %}
                      {% for key in entry['EXTRAS'] %}
                        {% if 'GitHub' in key %}
                          <font style="font-size:11pt"><a href="{{- entry['EXTRAS'][key] -}}" style="display:inline-block;width:50px;"><img src="images/github.svg" style="display:inline;"  class="filter-blue" height=18pt></a></font>
                        {% else %}
                          <font style="font-size:11pt"><a href="{{- entry['EXTRAS'][key] -}}" style="padding-right:20px;">{{- key -}}</a></font>
                        {% endif %}
                      {% endfor %}
                    {% endif %}
                    <div id="idx{{- loop.revindex -}}" class="dynamic_link">
                      <pre>
    @{{types[entry['TYPE']][0] }}{ {{- entry["VENUE-ACR"]|replace(' ','-') -}}:{{- entry["AUTHORS"][0].split()[-1] -}} {{ entry["YEAR"] }},
        author    = { {{- entry['AUTHORS']|join(' and ') -}} },
        title     = { {{- entry['TITLE'] -}} },
        {{ types[entry['TYPE']][1] }} = { {{- entry['VENUE'] -}} },
        year      = { {{- entry['YEAR'] -}} },
        url       = { {{- entry['URL'] -}} },
    }
                      </pre>
                    </div>
                </div> <!-- text -->
              </div>
            </div>
          </div> <!-- body -->
        </div> <!-- card -->
        {% endfor %}
        {% raw %}

        <script>
        $(document).ready(function(){
          $('[data-toggle="tooltip"]').tooltip();
        });

        function toggleEllipsis(x) {
          var element = document.querySelector("#ellipsis-ex"+x);
          element.classList.toggle("text-truncate");
        }
        </script>

    </main>
  </body>
</html>
{% endraw %}
